<h1>Inicio votación</h1>
<div class="d-flex justify-content-between my-4">
    <a class="btn btn-primary col-lg-3 py-2 text-home-lg" href="referendum">Crear referendum</a>
    <a class="btn btn-primary col-lg-3 py-2 text-home-lg" href="options">Crear opciones</a>
    <a class="btn btn-primary col-lg-3 py-2 text-home-lg" href="voting">Crear votacion</a>
</div>
<div class="d-flex justify-content-between my-4">
    <a class="btn btn-primary col-lg-3 py-2 text-home-lg" href="">Funcionalidad</a>
    <a class="btn btn-primary col-lg-3 py-2 text-home-lg" href="">Funcionalidad</a>
    <a class="btn btn-primary col-lg-3 py-2 text-home-lg" href="">Funcionalidad</a>
</div>