{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<body class="bg-secondary">
    <div class="container" id="maindiv">
        <h1 class="text-center bg-primary">{{ voting.id }} - <div id="name">{{ voting.name }}</div></h1>

        {% if not voting.start_date %}
            <h2 class="text-danger">{% trans ' Voting not started' %}</h2>
        {% elif not voting.end_date %}
            <h2 class="text-warning">{% trans ' Voting is opened' %}</h2>
        {% else %}

            <h2 class="text-left bg-secondary">{% trans ' Results table: ' %}</h2>

            <ul>  
                {% trans 'Question: ' %} {{voting.question.desc}}</br>
                {% trans 'Description: ' %} {{voting.desc}}</br>
                {% trans 'Start date: ' %}{{voting.start_date|slice:"0:10"}}</br>
                {% trans 'End date: ' %}{{voting.end_date|slice:"0:10"}}</br>
                {% trans 'Total votes: ' %}{{voting.tally|length}}</br>

                <table class="table table-bordered table-hover table-condensed">
                    <thead class="bg-success">
                      <tr>
                        <th>Options</th>
                        <th>Total votes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for option in voting.postproc %}
                        <td>{{option.option}}</td>
                        <td>{{option.votes}}</td>
                      </tr>
                        {% endfor %} 
                    </tbody>
                  </table>
            </ul>
        {% endif %}
    </div>

    <div class="container">
        <canvas id="myChart" width="200" height="100" style="border:1px solid #000000;"></canvas>   
    </br>
        <canvas id="my2Chart" width="200" height="100" style="border:1px solid #000000;"></canvas>
    </br> 
        <canvas id="my3Chart" width="200" height="100" style="border:1px solid #000000;"></canvas>  
    </br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script>
    var myChart = document.getElementById('myChart').getContext('2d');
    var my2Chart = document.getElementById('my2Chart').getContext('2d');
    var my3Chart = document.getElementById('my3Chart').getContext('2d');
    var allDivTd = document.getElementById("maindiv").getElementsByTagName("TD");
    var title = document.getElementById("name").innerHTML;

    var data = [];
    var labels = [];
    var label = title;
    
for(var i = 0; i < allDivTd.length; i++){
    var td = allDivTd[i];
    if(i%2 != 0){
        data.push(parseInt(td.innerHTML));
    }else{
        labels.push(td.innerHTML);
    }
}

    // barchart.
    var firstChart = new Chart(myChart,{
        type:'bar', //bar, horizontalBar, pie, line ,doughnut, radar, polarArea
        data:{
            labels,
            datasets:[{
            label,
            data , 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend:{display:false},
        responsive:true
    }
    });

    // Doghnut chart.
    var secondChart = new Chart(my2Chart,{
        type:'doughnut', //bar, horizontalBar, pie, line ,doughnut, radar, polarArea
        data:{
            labels,
            datasets:[{
            label,
            data , 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options: {responsive:true}
    });


    var thirdChart = new Chart(my3Chart,{
        type:'polarArea', //bar, horizontalBar, pie, line ,doughnut, radar, polarArea
        data:{
            labels,
            datasets:[{
            label,
            data , 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options: {responsive:true}
    });

</script>

</body>

{% endblock %}