{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<body class="bg-secondary">
    <div class="container">
        <h1 class="text-center bg-primary">{{ voting.id }} - {{ voting.name }}</h1>

        {% if not voting.start_date %}
            <h2 class="text-danger">{% trans ' Voting not started' %}</h2>
        {% elif not voting.end_date %}
            <h2 class="text-warning">{% trans ' Voting is opened' %}</h2>
        {% else %}
            <h2 class="text-left bg-secondary">{% trans ' Results table: ' %}</h2>

            <ul>
                
                <table class="table">
                    <thead>
                      <tr>
                        <th>Option</th>
                        <th>Total votes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for option in voting.postproc %}
                        <td>{{option.option}}</td>
                        <td>{{option.votes}}</td>
                      </tr>
                        {% endfor %} 
                    </tbody>
                  </table>
                
            </ul>
        {% endif %}
    </div>
</body>

{% endblock %}