{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<body class="bg-secondary">
    <div class="container" id="maindiv">
        <h1 class="text-center bg-primary"><div id="name">{{ voting.name }}</div></h1>

        {% if not voting.start_date %}
            <h2 class="text-danger">{% trans ' Voting not started' %}</h2>
        {% elif not voting.end_date %}
            <h2 class="text-warning">{% trans ' Voting is opened' %}</h2>
        {% else %}

            <h2 class="text-left bg-secondary">{% trans ' Voting data: ' %}</h2>
            </br>

            <ul>  
                <h4><strong>{% trans 'Question: ' %}</strong> {{voting.question.desc}}</h4>
                <h4><strong>{% trans 'Description: ' %}</strong> {{voting.desc}}</h4>
                <h4><strong>{% trans 'Start date: ' %}</strong> {{voting.start_date|slice:"0:10"}} &nbsp&nbsp&nbsp{{voting.start_date|slice:"11:19"}}</h4>
                <h4><strong>{% trans 'End date: ' %}</strong> {{voting.end_date|slice:"0:10"}} &nbsp&nbsp&nbsp{{voting.end_date|slice:"11:19"}}</h4>
                <h4><strong>{% trans 'Total votes: ' %}</strong> <div id="tally">{{voting.tally|length}}</div></h4>
                <h4><strong>{% trans 'People registered in the Census: ' %}</strong><div id="censusVoters">{{census.voters|length}}</div></h4>
            </br>
            </ul>

            <h2 class="text-left bg-secondary">{% trans ' Results table: ' %}</h2>

            <div data-spy="scroll">
                <ul>
                    <table class="table table-bordered table-hover table-condensed table-responsive">
                        <thead class="bg-success">
                        <tr>
                            <th>Options</th>
                            <th>Total votes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for option in voting.postproc %}
                            <td>{{option.option}}</td>
                            <td>{{option.votes}}</td>
                        </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </ul>
            </div>
        {% endif %}
        <h2 class="text-left bg-secondary">{% trans ' Graph results: ' %}</h2>
    </div>

    

    <div class="container" style= "text-align:center;">
        <h4 class="text-left bg-secondary">Votos</h4>
        <div style="width: 500px; height:300px; display:inline-block;">
            <canvas id="myChart" style="border:1px solid #000000;"></canvas> 
        </div>
        <div style="width: 500px; height:300px; display:inline-block;">
            <canvas id="my3Chart" style="border:1px solid #000000;"></canvas>
        </div> 
        <h4 class="text-left bg-secondary">Participacion</h4>
        <div style="width: 500px; height:300px; margin:0 auto; ">
            <canvas id="my2Chart" style="border:1px solid #000000;"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script>
    var myChart = document.getElementById('myChart').getContext('2d');
    var my2Chart = document.getElementById('my2Chart').getContext('2d');
    var my3Chart = document.getElementById('my3Chart').getContext('2d');
    var allDivTd = document.getElementById("maindiv").getElementsByTagName("TD");
    var title = document.getElementById("name").innerHTML;
    var census = parseInt(document.getElementById("censusVoters").innerHTML);
    var tally = parseInt(document.getElementById("tally").innerHTML)

    var data = [];
    var labels = [];
    var label = title;
    
for(var i = 0; i < allDivTd.length; i++){
    var td = allDivTd[i];
    if(i%2 != 0){
        data.push(parseInt(td.innerHTML));
    }else{
        labels.push(td.innerHTML);
    }
}

    // barchart.
    var firstChart = new Chart(myChart,{
        type:'bar', //bar, horizontalBar, pie, line ,doughnut, radar, polarArea
        data:{
            labels,
            datasets:[{
            label,
            data , 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options: {
        responsive:true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        legend:{display:false}
    }
    });

    var thirdChart = new Chart(my3Chart,{
        type:'polarArea', //bar, horizontalBar, pie, line ,doughnut, radar, polarArea
        data:{
            labels,
            datasets:[{
            label,
            data , 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options: {responsive:true, maintainAspectRatio: true}
    });

    data = [];
    data[0]= tally;
    data[1]= census-tally;

    // Doghnut chart.
    var secondChart = new Chart(my2Chart,{
        type:'doughnut', //bar, horizontalBar, pie, line ,doughnut, radar, polarArea
        data:{
            labels: ["Participants", "Non Participants"],
            datasets:[{
            label:"Voters",
            data, 
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
            }]
        },
        options: {responsive: true, maintainAspectRatio: true}
    });

</script>

</body>

{% endblock %}