.reset_form{

    font-family: Arial, sans-serif;
    background-color:#fffef7;
    margin: 0 auto;
    height: 100%;

}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    border-color: #bbbbbb;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    text-align: center;
    padding: 4px;
    width: 50%;
    left: 25%;
    margin-top: 5%;
    box-sizing: content-box;
}
.before{
    margin-bottom: 25px;
}
.input-send{
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color:#272727;
    color: white;
    position: relative;
    left: 25px;

}
.input-send:hover{
    opacity: .90;


}

/***password reset complete and done***/
.done_complete{

    font-family: Arial, sans-serif;
    background-color:#fffef7;
    margin: 0 auto;

}

.send{
    text-align: center;
    margin-top: 40px;
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
}
.correct{
    text-align: center;
    margin-top: 40px;
    position: relative;
    font-weight: bold;
    margin-bottom: 0;

}
/***password reset confirm***/

.container2{
    border-color: #bbbbbb;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    text-align: center;
    padding: 15px;
    width: 50%;
    left: 25%;
    margin-top: 5%;
    box-sizing: content-box;
}