{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %} 

<div class="box">
    <div class="container">
<header>
<div class="big-title">
		      <h3 class="big_title">Decide</h3>
</div>

<div class="big-title2">
		      <h4 class="big_title2">Censo</h3>
</div>

</header>
     	<div class="row">
			 
			    <div class="columna col-lg-6 col-md-6 col-sm-6 col-xs-18">
               
					<div class="box-part text-center">
                        
						<div>
							<h4>Compartir censo</h4>
						</div>
                        
						<div class="text">
							<span>Para compartir el censo entre dos votaciones basta elegir la votación desde donde se quiere usar el censo y la nueva</span>
						</div>

                        <label for="votationOrigen">Censo de origen</label>
                        <select name="votationOrigen" id="votationOrigen">
                            {% for votation in votingList %}
                                <option value = "{{votation.id}}">{{votation.name}}</option>
                            {% endfor %}
                        </select></br>

                        <label for="votationOrigen">Censo de destino</label>
                        <select name="votationDestino" id="votationDestino">
                            {% for votation in votingList %}
                                <option value = "{{votation.id}}">{{votation.name}}</option>
                            {% endfor %}
                        </select></br></br>

                        <button type="button">Copiar</button>
                        
					 </div>
				</div>	 
				
				 <div class="columna col-lg-6 col-md-6 col-sm-6 col-xs-18">
               
					<div class="box-part text-center">
                    
						<div>
							<h4>Importar desde LDAP</h4>
						</div>
                        
						<div class="text">
							<span>Para importar los datos desde un archivo LDAP es necesario introducir la URL donde está almacenado</span>
						</div>
                        
                        <label for="LDAP_URL">Introduzca la URL
						<input type="text" name="LDAP_URL" id="LDAP_URL">
                        </br></br></br>

                        <button type="button">Importar</button>
                        
					 </div>
				</div>	 


				
				  <div class="columna col-lg-6 col-md-6 col-sm-6 col-xs-18">
               
					<div class="box-part text-center">
                    
						<div>
							<h4>Listado de votaciones de un usuario</h4>
						</div>
                        
						<div class="text">
							<span>Para obtener una lista de las votaciones donde participa un usuario seleccionelo de la siguiente lista</span>
						</div>

                        <label for="selectUsuario">Usuario</label>
                        <select name="selectUsuario" id="selectUsuario">
                            {% for usuario in userList %}
                                <option value = "{{usuario.id}}">{{usuario.first_name}}</option>
                            {% endfor %}
                        </select></br></br>
                        
						
                        <button type="button">Importar</button>
                        
					 </div>
				</div>

                 <div class="columna col-lg-6 col-md-6 col-sm-6 col-xs-18">
               
					<div class="box-part text-center">
                    
						<div>
							<h4>Listado de usuarios de una votación</h4>
						</div>
                        
						<div class="text">
							<span>Para obtener una lista de las votaciones donde participa un usuario seleccionelo de la siguiente lista</span>
						</div>

                        <label for="selectVotation">Censo de origen</label>
                        <select name="selectVotation" id="selectVotation">
                            {% for votation in votingList %}
                                <option value = "{{votation.id}}">{{votation.name}}</option>
                            {% endfor %}
                        </select></br></br>
                        
						
                        <button type="button">Importar</button>
                        
					 </div>
				</div>	
		
		</div>		
    </div>
</div>


{% comment %} <h2 class="card-title">Lista de votaciones y votantes</h2>

{% if voting %}
    <h4 class="card-title">{{voting.name}}</h4>
{% endif %}

<ul class="list-group">{{object}}
  {% for object in object_list %}
    <li class="list-group-item">
        {% if not voting %}
            <p>Voting id: {{object.voting_id}}, voter id: {{object.voter_id}}</p>
        {% endif %}
        {% if voting %}
            <p>Nombre: {{object.first_name}} {{object.last_name}}</p>
        {% endif %}
    
    </li>
  {% endfor %}
</ul> {% endcomment %}



{% endblock content %}