{% extends "census_base.html" %}
{% load i18n static %}

{% block contenido %}

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="gaadiex-list">
                        {% for user in object_list %}
                        <div class="gaadiex-list-item border-b-1">
                            <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3>{{user.first_name}} {{user.last_name}}</h3>
                                <p> {{user.email}}</p>
                            </div>
                        </div>
                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>
    </div>

    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>

</div>

{% endblock contenido %}